@model FilmsCatalog.Models.Film.CreateFilmVM
@{
    ViewData["Title"] = "Добавить фильм";
}

<h2>Добавить фильм</h2>


<form asp-controller="Film" asp-action="CreateFilm" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" maxlength="2000"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="ReleaseYear"></label>
            <input asp-for="ReleaseYear" class="form-control" type="number" min="1895">
            <span asp-validation-for="ReleaseYear" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="Director"></label>
            <input asp-for="Director" class="form-control">
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="ImageFile" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="ImageFile" accept="image/*">                
            </div>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="btn btn-success btn-sm">Добавить</button>
    </div>
</form>
        
